
body {
	font-size: 	16px;
	font-family: Lato;
}

h1 {
	text-align: center;
}

.message-tiles h1 {
	text-align: left;
}
ul {
  list-style-type: none;
}

.message-tiles li {
  background-color: blue;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}